//
   Created by Tom Horak on 20.04.16.

div#pairingMenu.valign-wrapper
  div.valign.center
    h4= strings.title
    p
      span= strings.infoPart1
      span.device= device.name
      span= strings.infoPart2
    button#pairingBtn.btn-large.green= strings.startPairing
    button#simulateBtn.btn.blue-grey.lighten-3= strings.simulate
